.sign-up {
    transform: translateY(-7%);

    @media screen and (max-width: 1199px) {
        padding: 0.1em 1.5em;
      }
    .form-control {
        min-height: 3.8rem;
        border-radius: 0.5rem;
        background-color: var(--clr-neutral-200);
    }
    .form-label, .form-check-label {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .form-check-input:checked {
        background-color: var(--clr-neutral-300);
        border-color: #ced4da;
    }
}

.img-partners {
    &__sign-up {
        transform: translateY(-15%);

        @media screen and (max-width: 768px) {
            transform: translateY(-5%);

          }
    }
}

.account-details{
    margin-bottom: 10em;

.acc-content {
    width: 100%;
    max-width: 20em;
    p {
        font-size: 1.6rem;
        font-weight: 500;
        text-align: left;
        
        &:first-child {
            width: 8em;
        }
    }
}

h5 {
    line-height: 1;
}
}

.pay-plan-wrap {
    .card {
        position: relative;
        overflow: hidden;
        isolation: isolate;
        border-radius: 8px;
        
    }
    .offer-pin {
        position: absolute;
        inset: 0 0 auto 0;
        padding: 1.2rem 0;
        width: 100%;
        background: rgb(255,229,2);
background: linear-gradient(90deg, rgba(255,229,2,1) 0%, rgba(255,201,15,1) 100%);
        
    }
}