$breakpoints: (
  xxs: 375px,
  xls: 475px,
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xlg: 1400px,
);

/*
@include mq(md) {
    
}

@include mqmin(md) {
    
}
*/

/* Breakpoints */

/* for common breakpoints */
$break-lg-xl: "(min-width: 1200px) and (max-width: 1599px)";
$break-md-lg: "(min-width: 992px) and (max-width: 1199px)";
$break-sm-md: "(min-width: 768px) and (max-width: 991px)";
$break-xs-sm: "(min-width: 480px) and (max-width: 767px)";
$break-sm-xl: "(min-width: 768px) and (max-width: 1599px)";

/* special landscape devices */
$break-sp-1: "only screen and (min-device-width: 375px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)";

$break-sp-2: "only screen and (min-device-width: 375px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)";

/* example 
@media #{$break-sm-xl} {

}
*/
