$colors: (
  primary: (
    100: rgba(246, 141, 46, 1),
    200: rgba(247, 240, 233, 1),
    300: rgba(231, 110, 0, 1),
  ),
  secondary: (
    100: rgba(33, 150, 243, 1),
    200: rgba(233, 216, 201, 1),
    300: rgba(217, 220, 240, 1),
  ),
  neutral: (
    0: rgba(0, 0, 0, 0),
    50: rgba(255, 255, 255, 0.75),
    100: rgba(255, 255, 255, 1),
    150: rgba(232, 231, 231, 1),
    200: rgba(242, 242, 242, 1),
    220: rgba(219, 219, 219, 1),
    250: rgba(229, 229, 229, 1),
    //base color
    300: rgba(112, 112, 112, 1),
    //base color
    310: rgba(115, 115, 115, 1),
    320: rgba(128, 128, 128, 1),
    350: rgba(77, 77, 77, 1),
    370: rgba(180, 180, 180, 1),
    380: rgba(184, 184, 184, 1),
    400: rgba(96, 96, 96, 1),
    420: rgba(57, 57, 57, 1),
    450: rgba(12, 20, 70, 1),
    500: rgba(0, 0, 0, 1),
  ),
);

// opacity
$opacity: (
  100: 0.05,
  200: 0.08,
  300: 0.1,
  400: 0.15,
  500: 0.2,
  600: 0.5,
  700: 0.75,
  800: 1,
);
